MetroCard.Console/Service References/WSTicket/TicketService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25195/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" />
  <xs:complexType name="TicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsValido" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" minOccurs="0" name="Ticket" nillable="true" type="q1:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketResponse" nillable="true" type="tns:TicketResponse" />
</xs:schema>