MetroCard.Console/Service References/WSTicket/TicketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25195/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" />
  <xs:import schemaLocation="http://localhost:25195/TicketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" />
  <xs:element name="ConsultarTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" minOccurs="0" name="usuario" nillable="true" type="q1:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" minOccurs="0" name="ConsultarTicketResult" nillable="true" type="q2:TicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>