MetroCard.Test/Service References/WSUsuario/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25195/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25195/UsuarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Errores" />
      <xsd:import schemaLocation="http://localhost:25195/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25195/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RegistrarUsuario_RepetidorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MetroCard.Service.Errores" name="detail" element="q1:RepetidorException" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuario_RepetidorExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MetroCard.Service.Errores" name="detail" element="q2:RepetidorException" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/RegistrarUsuario" message="tns:IUsuarioService_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/RegistrarUsuarioResponse" message="tns:IUsuarioService_RegistrarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioService/RegistrarUsuarioRepetidorExceptionFault" name="RepetidorExceptionFault" message="tns:IUsuarioService_RegistrarUsuario_RepetidorExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuario" message="tns:IUsuarioService_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuarioResponse" message="tns:IUsuarioService_ObtenerUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuarioRepetidorExceptionFault" name="RepetidorExceptionFault" message="tns:IUsuarioService_ObtenerUsuario_RepetidorExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidorExceptionFault">
        <soap:fault use="literal" name="RepetidorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidorExceptionFault">
        <soap:fault use="literal" name="RepetidorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:25195/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>